<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	
	<title>Xiaoxi Zheng</title>
	
	<!-- Bootstrap itself -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

		
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

				<li><a href="#head" class="active">Hello</a></li>
				<li><a href="#about">About me</a></li>
				<li><a href="#Portfolio">Portfolio</a><li>
				<li><a href="#experience">Experience</a></li>
				<li><a href="#contact">Contact me</a></li>				
			</ul>
		</div>
	</div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

			
				<h1 class="title">Hello there,</h1>
				<h2 class="subtitle">I'm Xiaoxi.</h2>

			
				<h3 class="tagline">
					Nice to meet you.<br>
				</h3>
			
				<p><a href="resume.pdf" class="btn btn-default btn-lg">Download my resume</a></p>
	
			</div> 
		</div> 
	
	</div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container">
	
		<h2 class="text-center title">About me</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>Hello,<br></strong></h5>
				<p>My name is Xiaoxi Zheng. I'm currently a 3rd year<br>
					<a href="https://www.cise.ufl.edu/academics/undergrad/das/about">Digital Art and Sciences Major</a> at the University of FLorida. 
					I'm an aspiring front-end developer with my focuses on overall user experience.<br>
					I'm exicited for today's rapid growing web and software landscape. I enjoy challenging myself in solving everyday needs for users across the board. <br> 
					I'm a curious and an ambitious individual who just likes to laugh too much.
					I'm a fan of photography, love to play sports and various outdoor activities. 
				</p>    
			</div>
			<div class="col-sm-4">
				<h5><strong>CISE classes I am currently enrolled in: </strong></h5>    
				<a href="https://www.cise.ufl.edu/people/faculty/daily">CEN 4721- Human Computer Interaction</a>
		        <br><a href="http://www.cise.ufl.edu/~dts/cap3020/">CAP 3020- Theory and Practice of Mutimedia Production</a>
		        <br><a href="https://www.cise.ufl.edu/people/faculty/kyla">CIS 4930 - 3D Audio</a>
		        <h5><strong>Classes toward a <a href="https://catalog.ufl.edu/ugrad/current/business/minors/business-administration.aspx">Business Administration</a> minor</strong></h5>
		        <a href="http://warrington.ufl.edu/academics/syllabi/20161_MAR3023_Principles%20of%20Marketing_All_Lutz,%20R.pdf">MAR 3023 - Principle of Marketing</a>
		       	<br><a href="http://warrington.ufl.edu/academics/syllabi/20161_MAN3025_Princiles%20of%20Management_035E-142E_Archambeau,%20L.pdf">MAN 3025 - Principle of Management</a></p>  
			</div>
		</div>
	</div>
</section>

<!-- Third (Portfolio) section -->
<section class="section" id="Portfolio">
	<div class="container">
	
		<h2 class="text-center title">Portfolio</h2>
		<p class="lead text-center">
			Some stuff I've made
		</p>
		<div class="row">
			<!--<h2 class="text-center subtitle">Spring 2016</h2>-->
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="assets/images/portfolio/dogTective.png" alt="">
					<div class="caption">
						<h3>DogTective</h3>
						<p>An interactive story gaming experience, developed in Unity 3D.</p>
						<p>
							<a href="https://github.com/InvistiGator/DogTective" class="btn btn-primary" role="button">Source Code</a>
							<a href="https://docs.google.com/document/d/10uwNVTpBVSzJJ_60DLMg_0mV9rNvnMpXwJkCX0zcagc/edit?usp=sharing" class="btn btn-primary" role="button">Design Doc</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/images/portfolio/3dAudio.jpg" alt="">
					<div class="caption">
						<h3>3D Audio VST Plugin</h3>
						<p>A stand alone JAVA audio playback program that supports 3D HRTF audio implmentation. </p>
						<p>
							<a href="https://github.com/VSTPlugger/3D_VST_Plugin" class="btn btn-primary" role="button">Source Code</a>

					</div>
				</div>
			</div>
		</div>
		<div class ="row">
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="assets/images/portfolio/pky.png" alt="">
					<div class="caption">
						<h3>EOC Practice Exam Portal</h3>
						<p>A testing portal build for <a href="http://pkyonge.ufl.edu/">P.K Yonge Dev School</a> using MEAN stack & Agaile scrum methodology</p>
						<p>
							<a href="https://github.com/CEN3031-Project-9C/PK-Yonge-App" class="btn btn-primary" role="button">Github</a>
							<a href="http://pky-eoc.herokuapp.com/" class="btn btn-primary" role="button">Live Site</a>

					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/images/portfolio/3dMapping.png" alt="">
					<div class="caption">
						<h3>3D Texture Mapping</h3>
						<p>A group presentation on the subjct of 3D Texture Mapping. Specific techniques to render computer graphics with cheaper costs.</p>
						<p>
							<a href="https://github.com/NRNX/NRNX.github.io" class="btn btn-primary" role="button">Github</a>
							<a href="http://nrnx.github.io/doc/presentationFinal.pdf" class="btn btn-primary" role="button">Presentation</a>
					</div>
				</div>

				
			</div>

		</div>

		<h2 class="text-center subtitle">Organization affiliated</h2>
		<div class="row">
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/images/portfolio/atmoapps.PNG" alt="">
					<div class="caption">
						<h3>Atmosphere Apps Website Redesign</h3>
						<p>Redesign of <a href="http://www.atmosphereapps.com/">www.AtmosphereApps.com</a> using SquareSpace. All graphics and screenshots are created and generated from raw using Adobe Photoshop.</p>
						<p>
							<a href="http://www.atmosphereapps.com/" class="btn btn-primary" role="button">Atmosphere Apps</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/images/portfolio/SkyWave.PNG" alt="">
					<div class="caption">
						<h3>Skywave.io</h3>
						<p>
							Skywave is a SAAS product product developed by <a href="http://www.atmosphereapps.com/">Atmosphere Apps</a> to facilitate communication within an educational, professional or local community.
						</p>
						<p>
							<a href="http://skywave.io/" class="btn btn-primary" role="button">Skywave.io</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/images/portfolio/sparks.png" alt="">
					<div class="caption">
						<h3>Sparks Digital Magazine</h3>
						<p>Interactive versions of <a href="http://sparks-mag.com/">Spark Magazine.</a> Static website using Boostrap HTML5 & Css</p>
						<p>
							<a href="http://xiaoxizheng.github.io/sparksIssue1/" class="btn btn-primary" role="button">Issue10 Live</a>
							<a href="http://xiaoxizheng.github.io/sparksIssue9/" class="btn btn-primary" role="button">Issue9 Live</a>

					</div>
				</div>
			</div>
			
		</div>

		<div class ="row">
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="assets/images/portfolio/3.JPG" alt="">
					<div class="caption">
						<h3>All Projects</h3>
						<p>Projects are built with programming languages: Java, C++, HTML, CSS, C# and etc.</p>
						<p><a href="https://github.com/XiaoxiZheng" class="btn btn-primary" role="button">Github Repositories</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/images/portfolio/4.JPG" alt="">
					<div class="caption">
						<h3>Wireframe Mockups</h3>
						<p>Coming soon!</p>
						<p><a href="#" class="btn btn-primary" role="button">Wireframes</a>
					</div>
				</div>
			</div>
		</div>

		<div class ="row">
			<h2 class="text-center title">Interests</h2>

			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="assets/images/portfolio/1.jpg" alt="">
					<div class="caption">
						<h3><a href="https://www.flickr.com/photos/130440528@N06/albums/72157651681289812"></a>Photography</h3>
						<p>A shot of New York City from 2013</p>
						<p><a href="https://www.flickr.com/photos/130440528@N06/albums/72157651681289812" class="btn btn-primary" role="button">Visit Flickr Profile</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/images/portfolio/2.jpg" alt="">
					<div class="caption">
						<h3>3D Modeling</h3>
						<p>3D models created with AutoDesk Maya</p>
						<p><a href="https://flic.kr/p/yQp3eY" class="btn btn-primary" role="button">Visit 3D model Portfolio</a></p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="section" id="experience">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<h2 class="text-center title">Expereince</h2>
                    <div class="col-lg-8 col-lg-offset-2">
                    <p>Intern @ Atmosphere Apps Altitude Team<br>
                    <a href="http://atmosphereapps.com/" class="btn btn-default btn-lg">Atmosphere Apps</a><br>
                    Promotion Director for Sparks Magazine<br>
                    <a href="http://www.sparks-mag.com/" class="btn btn-default btn-lg">Sparks Magazines</a><br>
                    Marketing Manager @ Kung Fu Tea - Gainesville<br>
                    <a href="https://www.facebook.com/KungFuTeaGainesville" class="btn btn-default btn-lg">Kung Fu Tea-Gainesville</a>
					<p>
			</div> 
		</div> 
	
	</div>
</section>
<section ng-app="app" class="section" id="sampleApp">
	<div class="container">
		<div class="row">
			<div class="col-md-20 col-lg-20 col-md-offset-0 col-lg-offset-0 text-center">	
				<h2 class="title">My Little To-Do App</h2>
				<div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl">
					<form class="input-group" ng-submit="addItem()">
						<input type="text" ng-keypress="enterKey($event)" class="form-control" placeholder="Item to add to todo list" ng-model="newItem">
						<span class="input-group-btn">
							<select id='select' class="selectpicker" data-width="110px" ng-model="newPriority">
								<option style='color: yellow' data-icon="glyphicon-flag" value='Low Priority'><span class="glyphicon glyphicon-flag">Low</span></option>
								<option style='color: blue' data-icon="glyphicon-flag" value='Normal Priority'><span class="glyphicon glyphicon-flag">Normal</span></option>
								<option style='color: red' data-icon="glyphicon-flag" value='High Priority'><span class="glyphicon glyphicon-flag">High</span></option>
							</select>
							<button class="btn btn-default" type="button" ng-click="addItem()">Add <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
						</span>
					</form>

					<h3 class="text-center">Tasks I Must Complete ASAP!</h3>

					<!-- List of to-do items -->
					<ul class="list-group">
						<li class="list-group-item clearfix" ng-repeat="do in todos track by $index">
							<!-- To-do item title -->

							<!-- When pressing the edit button, this input will show up. -->
							<div id="hide" class="input-group edi-inp">
								<input type="text" class="form-control" placeholder="Edit" ng-model="editing.editedItem">
							</div>
							<span class="visible">{{do}}</span>
							<!-- Delete button -->
							<button class="btn btn-danger pull-right del-but" type="button" ng-click="deleteItem(do)">
								<span class="glyphicon glyphicon-trash " aria-hidden="true"></span>

							</button>

							<!-- Complete button -->
							<button class="btn btn-success pull-right spaced-button comp-but" type="button" ng-click="markComplete(do)">
								<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
							</button>

							<!-- Edit Button -->
							<button class="btn btn-warning pull-right spaced-button edi-but"  type="button" ng-click="editItem(do)">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</button>

							<!-- To-do item priority -->
							<button class="btn btn-info pull-right spaced-button pri-lis">{{priorities[$index]}}</button>

							<div class="pull-right comp-noti spaced-button ng-hide">
								<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Completed</p>
							</div>
						</li>
					</ul>
					<!-- Clear All Completed Button -->
					<button class="btn btn-danger" id="clearCompleted" type="button" ng-click="clearCompleted()">
						Clear All Completed
					</button>

					<h3 class="text-center">Completed Items</h3>
						<ul class="list-group">
							<li class="list-group-item clearfix" ng-repeat="items in completedItems track by $index">
								<p><span class="visible">{{items}}</span></p>
							</li>
						</ul>
		</div>
	</div>
	</div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
	<div class="container">
	
		<h2 class="text-center title">Get in touch</h2>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<center><div class = "imgContainer">
					<img src="assets/images/me.JPG" alt="me">
				</div></center>
				<br/>
				<p class="lead">Inspire me, let's be friends :)</p>
				<p>Feel free to email me and say hi</p>
				<p><b>shoush0713@ufl.edu</b><br><br></p>
				<ul class="list-inline list-social">
					<li><a href="http://weibo.com/shoush" class="btn btn-link"><i class="fa fa-weibo"></i></i> <span class="network-name">Weibo</span></a></li>
                    <li><a href="https://github.com/XiaoxiZheng" class="btn btn-link"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></li>
                    <li><a href="https://www.linkedin.com/pub/xiaoxi-zheng/84/450/804"class="btn btn-link"><i class="fa fa-linkedin-square"></i><span class="network-name">LinkedIn</span></a></li>
				</ul>
			</div>
		</div>

	</div>
</section>


<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="assets/js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="assets/js/menu.js"></script>

<!------------  -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.4.3/angular.js"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>
	<script type="text/javascript" src="assets/js/select.js"></script>



</body>
</html>
