<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	
	<title>Xiaoxi Zheng</title>
	
	<!-- Bootstrap itself -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://silviomoreto.github.io/bootstrap-select/bootstrap-select.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/style.css">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

				<li><a href="#head" class="active">Hello</a></li>
				<li><a href="#about">About me</a></li>
				<li><a href="#Portfolio">Portfolio</a><li>
				<li><a href="#sampleApp">Sample App</a></li>
				<li><a href="#experience">Experience</a></li>
				<li><a href="#contact">Contact me</a></li>
				<li><a href="#credits">Credits and Framework</a></li>
				
			</ul>
		</div>
	</div>
</nav>


<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">Hello there,</h1>
				<h2 class="subtitle">I'm Xiaoxi.</h2>

				<!-- Short introductory (optional) -->
				<h3 class="tagline">
					Nice to meet you.<br>
				</h3>
				<!-- Nice place to describe your site in a sentence or two -->
				<p><a href="resume.pdf" class="btn btn-default btn-lg">Download my resume</a></p>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>

<!-- Second (About) section -->
<section class="section" id="about">
	<div class="container">
	
		<h2 class="text-center title">About me</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">    
				<h5><strong>Hello,<br></strong></h5>
				<p>My name is Xiaoxi Zheng. I'm currently a 3rd year<br>
					<a href="https://www.cise.ufl.edu/academics/undergrad/das/about">Digital Art and Sciences Major</a> at the University of FLorida. 
					I'm an aspiring front-end developer with my focuses on overall user experience.<br>
					I'm exicited for today's rapid growing web and software landscape. I enjoy challenging myself in solving everyday needs for users across the board. <br> 
					I'm a curious and an ambitious individual who just likes to laugh too much.
					I'm a fan of photography, love to play sports and various outdoor activities. 
				</p>    
			</div>
			<div class="col-sm-4">
				<h5><strong>I am currently enrolled in:<br></strong></h5>    
				<br><a href="https://www.cise.ufl.edu/class/cen3031sp15/index">CEN 3031- Introduction to Software Enginnering</a>
                <br><a href="http://www.cise.ufl.edu/~dts/cap3027/syllabus.html">CAP 3027- Introduction to Digital Art and Sciences</a>
                <br><a href="http://people.clas.ufl.edu/kees/files/MAD4401Fall2015.pdf">MAD 4401 - Numerical Analysis</a>
                <br><a href="http://www.digitalworlds.ufl.edu/programs/ba-in-das/ba-das-course/#DIG3433: Interactive Storytelling (IST)nav">DIG 3433 - Interactive Story Telling</a></p>  
			</div>
		</div>
	</div>
</section>

<!-- Third (Works) section -->
<section class="section" id="Portfolio">
	<div class="container">
	
		<h2 class="text-center title">Portfolio</h2>
		<p class="lead text-center">
			Some stuff I've made
		</p>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="assets/images/portfolio/1.jpg" alt="">
					<div class="caption">
						<h3><a href="https://www.flickr.com/photos/130440528@N06/albums/72157651681289812"></a>Photography</h3>
						<p>A shot of New York City from 2013</p>
						<p><a href="https://www.flickr.com/photos/130440528@N06/albums/72157651681289812" class="btn btn-primary" role="button">Visit Photography Portfolio</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/images/portfolio/2.jpg" alt="">
					<div class="caption">
						<h3>3D Modeling</h3>
						<p>3D models are created with AutoDesk Maya</p>
						<p><a href="https://flic.kr/p/yQp3eY" class="btn btn-primary" role="button">Visit 3D model Portfolio</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				<div class="thumbnail">
					<img src="assets/images/portfolio/3.JPG" alt="">
					<div class="caption">
						<h3>Codes</h3>
						<p>Programming languages includes Java, C++, HTML, CSS and etc.</p>
						<p><a href="https://github.com/XiaoxiZheng" class="btn btn-primary" role="button">Github Repositories</a>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail">
					<img src="assets/images/portfolio/4.JPG" alt="">
					<div class="caption">
						<h3>Wireframe Mockups</h3>
						<p>Coming soon!</p>
						<p><a href="#" class="btn btn-primary" role="button">Wireframes</a>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>
<section class="section" id="experience">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h2 class="text-center title">Expereince</h2>
                    <div class="col-lg-8 col-lg-offset-2">
                    <p>Intern @ Atmosphere Apps Altitude Team<br>
                    <a href="http://atmosphereapps.com/" class="btn btn-default btn-lg">Atmosphere Apps</a><br>
                    Promotion Director for Sparks Magazine<br>
                    <a href="http://www.sparks-mag.com/" class="btn btn-default btn-lg">Sparks Magazines</a><br>
                    Marketing Specialist @ Kung Fu Tea - Gainesville<br>
                    <a href="https://www.facebook.com/KungFuTeaGainesville" class="btn btn-default btn-lg">Kung Fu Tea-Gainesville</a>
					<p>
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>
<section ng-app="app" class="section" id="sampleApp">
	<div class="container">
		<div class="row">
			<div class="col-md-20 col-lg-20 col-md-offset-0 col-lg-offset-0 text-center">	
				<h2 class="title">My Little To-Do App</h2>
				<div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl">
					<form class="input-group" ng-submit="addItem()">
						<input type="text" ng-keypress="enterKey($event)" class="form-control" placeholder="Item to add to todo list" ng-model="newItem">
						<span class="input-group-btn">
							<select id='select' class="selectpicker" data-width="110px" ng-model="newPriority">
								<option style='color: yellow' data-icon="glyphicon-flag" value='Low Priority'><span class="glyphicon glyphicon-flag">Low</span></option>
								<option style='color: blue' data-icon="glyphicon-flag" value='Normal Priority'><span class="glyphicon glyphicon-flag">Normal</span></option>
								<option style='color: red' data-icon="glyphicon-flag" value='High Priority'><span class="glyphicon glyphicon-flag">High</span></option>
							</select>
							<button class="btn btn-default" type="button" ng-click="addItem()">Add <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
						</span>
					</form>

					<h3 class="text-center">Tasks I Must Complete ASAP!</h3>

					<!-- List of to-do items -->
					<ul class="list-group">
						<li class="list-group-item clearfix" ng-repeat="do in todos track by $index">
							<!-- To-do item title -->

							<!-- When pressing the edit button, this input will show up. -->
							<div id="hide" class="input-group edi-inp">
								<input type="text" class="form-control" placeholder="Edit" ng-model="editing.editedItem">
							</div>
							<span class="visible">{{do}}</span>
							<!-- Delete button -->
							<button class="btn btn-danger pull-right del-but" type="button" ng-click="deleteItem(do)">
								<span class="glyphicon glyphicon-trash " aria-hidden="true"></span>

							</button>

							<!-- Complete button -->
							<button class="btn btn-success pull-right spaced-button comp-but" type="button" ng-click="markComplete(do)">
								<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
							</button>

							<!-- Edit Button -->
							<button class="btn btn-warning pull-right spaced-button edi-but"  type="button" ng-click="editItem(do)">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							</button>

							<!-- To-do item priority -->
							<button class="btn btn-info pull-right spaced-button pri-lis">{{priorities[$index]}}</button>

							<div class="pull-right comp-noti spaced-button ng-hide">
								<p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Completed</p>
							</div>
						</li>
					</ul>
					<!-- Clear All Completed Button -->
					<button class="btn btn-danger" id="clearCompleted" type="button" ng-click="clearCompleted()">
						Clear All Completed
					</button>

					<h3 class="text-center">Completed Items</h3>
						<ul class="list-group">
							<li class="list-group-item clearfix" ng-repeat="items in completedItems track by $index">
								<p><span class="visible">{{items}}</span></p>
							</li>
						</ul>
		</div>
	</div>
	</div>
</section>

<!-- Fourth (Contact) section -->
<section class="section" id="contact">
	<div class="container">
	
		<h2 class="text-center title">Get in touch</h2>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<p class="lead">Inspire me, let's be friends :)</p>
				<p>Feel free to email me and say hi</p>
				<p><b>shoush0713@ufl.edu</b><br><br></p>
				<ul class="list-inline list-social">
					<li><a href="http://weibo.com/shoush" class="btn btn-link"><i class="fa fa-weibo"></i></i> <span class="network-name">Weibo</span></a></li>
                    <li><a href="https://github.com/XiaoxiZheng" class="btn btn-link"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></li>
                    <li><a href="https://www.linkedin.com/pub/xiaoxi-zheng/84/450/804"class="btn btn-link"><i class="fa fa-linkedin-square"></i><span class="network-name">LinkedIn</span></a></li>
				</ul>
			</div>
		</div>

	</div>
</section>
<!-- Main (Home) section -->
<section class="section" id="credits">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
				<h1 class="title">Credits & Framework</h1>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					  <!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">

					    <div class="item active">
					    	<h2 class="subtitle">Framework</h2>
					    		<p>I'm minimalist when it comes to design. I decided to use a single page layout<br>with a simple menu set under the <strong>Bootstrap Framework.</strong> Bootstrap is<br> used for overall responsive design and controlled user experiences across <br>different platforms. Font Awesome icons are also used for consistency of design.</p>
					    </div>
					    <div class="item">
					      <h2 class="subtitle">Techologies and Credits for Sample App</h2>
					    	<p>Technologies used in the sample app is mostly Angular js in the MEAN JS Stack. <br>
					    		The sample Todo-app was made in the purpose of practicing Agile Scrum Process<br>
					    		as a team for the class Introduction to Software Engineering.(Currently enrolled - Fall 2015)<br>We will be developing a full functioning app using MEAN stack as a team this semester.</p>
					    </div>
					    <div class="item">
					       <h2 class="subtitle">Graphics and Digital assets</h2>
					    		<p>All visual graphics on this site are self-generated. </p>
					    </div>
					    <div class="item">
					      <center><img src="assets/images/me.JPG" height="281" width="502" alt="me"></center>
					      <h2 class="subtitle">Thanks for visiting!</h2>
					    </div>
					</div>	
					  <!-- Left and right controls -->
					  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
				</div>
					
			</div> <!-- /col -->
		</div> <!-- /row -->
	</div>
</section>

<!-- Load js libs only when the page is loaded. -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="assets/js/modernizr.custom.72241.js"></script>
<!-- Custom template scripts -->
<script src="assets/js/menu.js"></script>

<!------------  -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.4.3/angular.js"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>
	<script type="text/javascript" src="assets/js/select.js"></script>



</body>
</html>